@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,700;1,900&display=swap');
:root{
    --color-blue: #2e3192;
    --color-red: #ed1d24;
    --background:rgb(23, 23, 46);
 }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
.background{
    background: url(./img/background.jpg) no-repeat center/cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -9999;
    transition: background-image 0.3s;
}
.background::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.858), transparent);
}
header{
    /* background-color: rgba(255, 160, 122, 0.61); */
    width: 100%;
    height: 20vh;
}
.logo{
    width: 20%;
    height: 100%;
    display: grid;
    place-items: center;
}
main{
    position: relative;
    /* background-color: rgba(255, 0, 0, 0.438); */
    width: 100%;
    height: 60vh;
}
.text{
    /* background-color: rgba(250, 235, 215, 0.762); */
    width: 50%;
    height: 46%;
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 1%;
}
h2{
    width: 58%;
    /* background-color: rgba(127, 255, 212, 0.617);     */
    height: 30%;
    margin: 15px 15px;
    color : white;
    font-weight: 800;
    font-size: 45px;
    font-family: 'Montserrat', cursive;
}
p{
    /* background-color: rgba(245, 245, 220, 0.56); */
    width: 90%;
    margin: 50px 15px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
}
nav{
    position: absolute;
    top: 0;
    width: 5%;
    height: 90%;
    /* background-color: rgba(0, 255, 255, 0.573); */
    display: grid;
    place-items: center;
}
ul{
    /* background-color: rgba(184, 135, 11, 0.526); */
    position: absolute;
    top:0;
}
li{
    list-style: none;
    /* background-color: rgba(0, 0, 255, 0.51); */
    margin: 20px 0;
    font-size: 30px;
   font-weight: 500;
   margin: 29px;
}
a{
    color: white;
    text-decoration: none;
    position: relative;
}
a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 0;
    bottom: 0;
    border-radius: 2px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.3s;
    background-image: linear-gradient(to right, var(--color-blue),var(--color-red)) ;
}
a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

.TimeNow{
    /* background-color: rgba(144, 238, 144, 0.692); */
    width: 55%;
    display: inline-flex;
    justify-content: start;
    margin: 2% 5%;
    padding: 10px 15px;
    /* align-items: center; */
    transform: scale(1);
    position: relative;
}
h4{
    position: absolute;
    /* background-color: rgba(245, 245, 220, 0.557); */
    width: 30%;
    top: -40%;
    margin-bottom: 40%;
    /* order: 1; */
    font-family: 'DT PhuDu';
    display: block;
    font-size: 20px;
    font-weight: 500;
    color:white;
}
.Time{
    /* position: absolute; */
    bottom: 0;
    /* background-color: #ed1d2487; */
    /* order: 2; */
    width: 20%;
    height: 50%;
    color: white; 
    border-radius: 10px;
    margin: 0 30px;
    display: grid;
    place-items: center;
    background-color:rgba(255, 255, 255, 0.558);   
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0.807), transparent); */
}
.Time span{
    font-family: 'DM Sans', sans-serif;
   font-size: 24px;
   top: 20px;
   font-weight: 700;
   color: white;
}

.dot{
    color: white;
    font-size: 20px;
    font-size: xx-large;
    font-weight: 900;
 }
 h3{
    font-family: 'DT PhuDu';
   font-weight: 300;
   font-size: 20px;
   color: transparent;
   background-image: linear-gradient(to right, var(--color-blue),var(--color-red)) ;
   -webkit-background-clip: text;
   font-weight: 600;
 }
.btn{
    /* background-color: rgba(127, 255, 212, 0.622); */
    width: 40%;
    margin-left: 5% ;
    height: 15%;
    display: flex;
    place-items: center;
    gap: 10%;
    justify-content: start;
    transition: border .5s;
}
.btn button.nophoso{
    width: 25%;
    height: 60%;
    margin-left: 2%;
    border: none;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.342);
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    transition: border .5s;
    cursor: pointer;
    transition: background-image scale .5s;
}
.btn button.nophoso:hover{
    animation: changeColor 2s infinite;
     color: white;
     transform: scale(1.2);
}
.btn button.xettuyen:hover{
    border: none;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.342);
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    transition: border .5s;
    cursor: pointer;
    transform: scale(1);

    transition: background-image scale .5s;
}
.btn button.xettuyen{
    width: 25%;
    height: 60%;
    margin-left: 2%;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0.342);
    color: white;
    font-family: 'Montserrat';
    font-weight: 700;
    animation: changeColor 2s infinite;
     transform: scale(1.2);
}
@keyframes changeColor {
    0%{
        border:2px solid var(--color-blue);
        border-radius: 10px;
    }
    50%{
        border:2px solid var(--color-red);
        border-radius: 10px;
    }
    100%{
        border:2px solid var(--color-blue);
        border-radius: 10px;
    }
}
footer{
    /* background-color: rgba(85, 107, 47, 0.667); */
    width: 100%;
    height: 20vh;
    display: grid ;
    place-items: center;
}
.liveshow {
    /* background-color: rgba(250, 235, 215, 0.614); */
    width: 80%;
    /* bottom: 10%; */
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
  }
  .liveshow img {
    /* background-color: #ed1d2490; */
    /* top: 10%; */
    width: 150px;
    height: 100px;
    margin-right: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    /* overflow: hidden; */
  }
/* ipad */
@media  screen and (max-width: 1024px){
    header .logo{
        margin-left: 10%;
    }
    .text{
        position: relative;
        width: 90%;
        left: 5%;
    }
    .text h2{
        width: 65%;
    }
    .TimeNow{
        position: relative;
        left : 5%;
        /* background-color: #ed1d24; */
        display: flex;
        justify-content: start;
        width: 70%;
    }
    .TimeNow h4{
        /* background-color: #2e3192; */
        width: 60%;
        position: absolute;
    }
    .TimeNow .Time{
        /* background-color: aqua; */
        width: 35%;
    }
    nav{
        width: 7%;
        margin-left: 2%;
    }
    .btn{
        width: 60%;
        padding-left: 7%;
        display: flex;
        justify-content: start;
    }
}

/* phone */
@media  screen and (max-width: 767px){
    header .logo{
        margin-left: 10%;

    }
    .logo img{
        left: 25%;
        position: relative;
        width: 110%;
    }
    .text{
        /* background-color: #2e3192; */
        position: relative;
        width: 80%;
        left: 5%;
    }
    .text h2{
        /* background-color: violet; */
        width: 65%;
        font-size: 135%;
    }
    .text p{
        margin-top: 0;
        /* background-color: aquamarine; */
        font-size: 75%;
    }
    .TimeNow{
        position: relative;
        left : 5%;
        /* background-color: #ed1d24; */
        display: flex;
        justify-content: start;
        width: 70%;
    }
    .TimeNow h4{
        /* background-color: #2e3132; */
        width: 60%;
        font-size: 85%;
        top: -20%;
        left: 5%;
        position: absolute;
    }
    .TimeNow .Time{
        /* background-color: aqua; */
        width: 25%;
        margin: 1%;
    }
    .dot{
        position: relative;
        top: 10px;
    }
    h3{
        margin-top: -10%;
    }
    nav{
        position: absolute;
        top: -6%;
        width: 7%;
        margin-left: 2%;
        margin-right: 2%;
    }
    nav ul li{
        font-size: 20px ;
    }
    .btn{
        /* background-color: black; */
        width: 90%;
        padding-left: 5%;
        display: flex;
        justify-content: start;
    }
    .btn button{
        width: 30%;
    }
    footer{
        width: 80%;
        margin: 0 10%;
    }
}